<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="grid gap-6 grid-cols-4">
      <div>
        <ul>
          <li>Información General</li>
          <li>Pautas Comunitarias</li>
          <li>Términos y Condiciones</li>
          <li>Centro de Seguridad</li>
        </ul>
      </div>
      <div>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a
              href="https://github.com/themesberg/flowbite"
              class="hover:underline"
              >+1 891 989-11-91</a
            >
          </li>
          <li>
            <a href="https://discord.gg/4eeurUVvTy" class="hover:underline"
              >help&#64;aecode.com</a
            >
          </li>
          <li>
            <div class="flex flex-row items-center text-white">
              <a href="#" class="hover:underline ps-5">
                <div
                  class="rounded-full size-[26px] bg-white ps-0.5 content-center"
                >
                  <app-svg-linked-in class="size-5" />
                </div>
              </a>
              <a href="#" class="hover:underline ms-5">
                <div
                  class="rounded-full size-[26px] bg-white ps-0.5 content-center"
                >
                  <app-svg-telegram class="size-5" />
                </div>
              </a>
              <a href="#" class="hover:underline ms-5">
                <div
                  class="rounded-full size-[26px] bg-white ps-0.5 content-center"
                >
                  <app-svg-facebook class="size-5" />
                </div>
              </a>
              <a href="#" class="hover:underline ms-5">
                <div
                  class="rounded-full size-[26px] bg-white ps-0.5 content-center"
                >
                  <app-svg-instagram class="size-5" />
                </div>
              </a>
              <a href="#" class="hover:underline ms-5">
                <div
                  class="rounded-full size-[26px] bg-white ps-0.5 content-center"
                >
                  <app-svg-tik-tok class="size-5" />
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline"
              >Tienes preguntas? <span>Visita nuestro centro de ayuda</span></a
            >
          </li>
          <li>
            <a href="#" class="hover:underline"
              >Gestiona tu cuenta y la privacidad
              <span>Ve a los ajustes</span></a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">Seleccionar</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Español</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="sm:flex sm:items-center sm:justify-between pt-10">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2023 <a href="#" class="hover:underline">AECODE 2</a>. All Rights
        Reserved.
      </span>
    </div>
  </div>
</footer>
