<div class="home-container content-center h-[600px]">
  <app-main-container>
    <div class="grid grid-cols-2">
      <div class="flex flex-col justify-center gap-y-3">
        <span class="home-title items-center opacity-90 text-3xl text-nowrap">
          AECODE Ingeniería 4.0 & Programación
        </span>
        <span class="home-subtitle text-main-purple text-2xl text-nowrap">
          Innovación | Digitalización | Automatización
        </span>
        <h3 class="pt-2">
          Plataforma diseñada para construir una comunidad enfocada en promover
          tecnologías avanzadas en ingeniería moderna, a través de la
          digitalización de proyectos y la integración de técnicas de
          programación y automatización en ingeniería civil.
        </h3>
      </div>
      <div>
        <app-script-carousel />
      </div>
    </div>
  </app-main-container>
</div>
